body{
    background-color: #678983;
}
.head{
   
    border: 1px #181D31 solid  ;
    background-color:#181D31;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    position: fixed;
    width: 1335px;px;
    top: 0px;
    z-index: 4;
    
}
.h1{
    text-align: center;
}

.p1{
    font-size:x-small;
    padding: right 10px ;
}
.t{
    background-color: #124963;
    border:  10px ;
    padding: 10px;
    position: absolute;
    right: 40%;
    top: 200px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
.r3{ 
    border-radius: 30px;
    font-size: small;
    background-color:#181D31;
    color: #E6DDC4;
    padding: 10px;
    position: absolute;
    top: 500px;
    right: 50%;
   
      
}
.r3:hover{
    border-radius: 50px;
    font-size:medium;
    background-color: #DD5353;
    color: #181D31; 
    padding: 10;
    position: absolute;
    top: 500px;
    right: 50%;
   
}